[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Mozyr235
[access "refs/for/refs/*"]
	read = group user/Mozyr235
	push = group user/Mozyr235
	label-Code-Review = -2..+2 group user/Mozyr235
	label-Verified = -1..+1 group user/Mozyr235
	rebase = group user/Mozyr235
	removeReviewer = group user/Mozyr235
	submit = group user/Mozyr235
[access "refs/heads/*"]
	read = group user/Mozyr235
	create = group user/Mozyr235
	push = +force group user/Mozyr235
	pushMerge = group user/Mozyr235
[access "refs/tags/*"]
	push = +force group user/Mozyr235
	pushTag = group user/Mozyr235
	pushSignedTag = group user/Mozyr235
